<!doctype html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - The Acme Co.</title>
  {% endblock %}
</head>
<body>

  <div id="logo">
    <img src="{{ url_for('static', filename='acme_logo.jpg') }}" alt="Acme Corp." height="150px" />
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="messages">
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <footer>
    {% block footer %}
    &copy; Copyright 2014 by <a href="http://example.com/">The Acme Co.</a>.
    {% endblock %}
  </footer>

</body>
</html>
